{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Batman el hombre murcielago</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At qui esse, explicabo perferendis harum eius. Reiciendis mollitia dolores doloribus beatae quae, natus, commodi sapiente nemo ad modi facilis minus necessitatibus?
        </p>

    </div>
    <div class="col-4">
        <img src="assets/img/batman.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}